<nav th:fragment="navigation" class="navbar fixed-top navbar-expand-lg navbar-light bg-white py-3"
     xmlns:th="http://www.thymeleaf.org">
    <div class="container px-5">
        <a class="navbar-brand" th:href="@{/admin}"><span class="fw-bolder text-primary">FurEver</span><span class="fw-bolder text-secondary">Home</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                <li class="nav-item" th:object="${user}" th:if="${user != null}">
                    <span class="nav-link">Hello, <span th:text="${user.username}"></span></span>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/pets/new}">Add a Pet</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/applications}">Applications</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
