<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header('View Application Details')"></head>
<body onload="automate_animation();" class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">

    <nav th:replace="admin/admin-navigation :: navigation"></nav>

    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Applications</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div>
                    <a href="javascript:void(0)" onclick="history.back();" class="btn btn-primary me-3" style="font-size: 1.1rem; width: 150px; justify-content: flex-start;">
                        <i class="bi bi-arrow-left"></i> Back
                    </a>
                </div>
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <div th:object="${applicationDto}" class="card overflow-hidden shadow rounded-4 border-0 mb-5" >
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 th:text="'Application #' + ${applicationDto.id}" class="fw-bolder"></h2>
                                    <a th:href="@{/admin/pets/{petId}(petId=${applicationDto.pet.id})}" style="color: #212529;"><p th:text="'Pet: ' + ${applicationDto.pet.name}"></p></a>
                                    <p th:text="'Status: ' + ${applicationDto.applicationStatus}"></p>
                                    <p th:text="'Email: ' + ${applicationDto.user.email}"></p>
                                    <p th:text="'Phone: ' + ${applicationDto.user.phoneNumber}"></p>
                                    <p th:if="${applicationDto.releaseDate != null}" th:text="'Release Date: ' + ${applicationDto.releaseDate}"></p>
                                <br />
                                    <form method="post" th:action="@{/admin/applications/{applicationId}(applicationId=${applicationDto.id})}" th:object="${applicationDto}" th:if="${applicationDto.applicationStatus.name() != 'RELEASED' && applicationDto.applicationStatus.name() != 'CANCELLED'}">
                                        <div class = "form-group" th:if="${applicationDto.applicationStatus.name() == 'APPROVED'}">
                                            <label for="releaseDate">Release Date:</label>
                                            <input
                                                    type="date"
                                                    class="form-control"
                                                    id="releaseDate"
                                                    name="releaseDate"
                                                    th:field="*{releaseDate}"
                                                    placeholder="Release Date"
                                                    required><br>
                                        </div>
                                        <div class = "form-group" >
                                        <label for="applicationStatus">Application Status:</label>
                                        <select
                                                id="applicationStatus"
                                                name="applicationStatus"
                                                th:field="*{applicationStatus}"
                                                required>
                                            <option value="APPROVED" th:if="${applicationDto.applicationStatus.name() == 'PENDING'}">Approved</option>
                                            <option value="REJECTED" th:if="${applicationDto.applicationStatus.name() == 'PENDING'}">Rejected</option>
                                            <option value="RELEASED" th:if="${applicationDto.applicationStatus.name() == 'APPROVED'}">Released</option>
                                            <option value="CANCELLED" th:if="${#strings.contains({'PENDING', 'APPROVED'}, applicationDto.applicationStatus.name())}">Cancelled</option>
                                        </select><br>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Update Application</button>
                                </form>
                                </div>
                                <img class="img-fluid" th:src="@{'/' + ${applicationDto.pet.photosImagePath}}" alt="..." style="width: 300px; height: 400px;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>
    <!-- Call to action section-->
    <section th:replace="fragments/call-to-action :: call-to-action"></section>
</main>
<!-- Footer-->
<footer th:replace="fragments/footer:: footer"></footer>

</body>
</html>

