<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Update Pet')"></head>
<body onload="automate_animation();" class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">

  <nav th:replace="admin/admin-navigation :: navigation"></nav>

  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Add a Pet</h1>
      </div>
      <div class="row gx-5">
        <form role="form" th:action="@{/admin/pets/{petId}/edit(petId=${pet.id})}" th:object="${pet}" method="post">
          <input type="hidden" th:field="*{id}">
          <div class = "form-group">
            <label for="name">Name:</label>
            <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    th:field="*{name}"
                    placeholder="Name"
                    >
            <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
          </div> <br>

          <div class = "form-group">
            <label for="gender">Gender:</label>
            <select
                    id="gender"
                    name="gender"
                    th:field="*{gender}">
              <option value="">-- Please select --</option>
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
            </select>
            <p th:if="${#fields.hasErrors('gender')}" class="text-danger" th:errors="*{gender}"></p>
          </div><br>

          <div class = "form-group">
            <label for="type">Type:</label>
            <select
                    id="type"
                    name="type"
                    th:field="*{type}">
              <option value="">-- Please select --</option>
              <option value="CAT">Cat</option>
              <option value="DOG">Dog</option>
            </select><br>
            <p th:if="${#fields.hasErrors('type')}" class="text-danger" th:errors="*{type}"></p>
          </div><br>

          <div class="form-group">
            <label for="age">Age:</label>
            <input
                    type="number"
                    id="age"
                    name="age"
                    class="form-control"
                    th:field="*{age}"
                    placeholder="Age"><br>
            <p th:if="${#fields.hasErrors('age')}" class="text-danger" th:errors="*{age}"></p>
          </div>


          <div class = "form-group">
            <label for="bodySize">Body Size:</label>
            <select
                    id="bodySize"
                    name="bodySize"
                    th:field="*{bodySize}">
              <option value="">-- Please select --</option>
              <option value="SMALL">Small</option>
              <option value="MEDIUM">Medium</option>
              <option value="LARGE">Large</option>
            </select><br>
            <p th:if="${#fields.hasErrors('bodySize')}" class="text-danger" th:errors="*{bodySize}"></p>
          </div>


          <div class = "form-group">
            <label for="rescueDate">Rescue Date:</label>
            <input
                    type="date"
                    class="form-control"
                    id="rescueDate"
                    name="rescueDate"
                    th:field="*{rescueDate}"
                    placeholder="Rescue Date">
            <br>
          </div>

          <div class = "form-group">
            <label for="imagePath">Image Path:</label>
            <input
                    type="text"
                    class="form-control"
                    id="imagePath"
                    name="imagePath"
                    th:field="*{imagePath}"
                    placeholder="Image Path">
            <br>
            <p th:if="${#fields.hasErrors('imagePath')}" class="text-danger" th:errors="*{imagePath}"></p>
          </div>

          <div class = "form-group">
            <label for="description">Description:</label>
            <textarea
                    id="description"
                    name="description"
                    class="form-control"
                    th:field="*{description}"
                    placeholder="Description">
                  </textarea><br>
            <p th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></p>
          </div>

          <div class = "form-group">
            <label for="isSterilized">Sterilized</label>
            <input
                    type="checkbox"
                    id="isSterilized"
                    name="isSterilized"
                    th:field="*{isSterilized}">
            <br>
          </div>

          <div class="form-group">
            <label>Vaccine Type:</label>
            <div th:each="vaccine : ${vaccine}">
              <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       th:id="${'vaccine' + vaccine.id}"
                       th:name="vaccineIds"
                       th:value="${vaccine.id}">
                <label class="form-check-label"
                       th:for="${'vaccine' + vaccine.id}"
                       th:text="${vaccine.name}">
                </label>
              </div>
            </div>
<!--            <p th:if="${#fields.hasErrors('vaccine')}" class="text-danger" th:errors="*{vaccine}"></p>-->
          </div>

          <div class = "form-group">
            <label for="active">Active</label>
            <input
                    type="checkbox"
                    id="active"
                    name="active"
                    th:field="*{active}">
            <br>
          </div>
          <button type="submit">Add Pet</button>
        </form>
      </div>
    </div>
  </section>
</main>
<!-- Footer-->
<footer th:replace="fragments/footer:: footer"></footer>

</body>
</html>

