<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Update Pet')"></head>
<body onload="automate_animation();" class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">

    <nav th:replace="admin/admin-navigation :: navigation"></nav>

    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Edit Pet</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <form role="form" th:action="@{/admin/pets/{petId}/edit(petId=${pet.id})}"
                                  th:object="${pet}" method="post" enctype="multipart/form-data">
                                <input type="hidden" th:field="*{id}">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="name"
                                            name="name"
                                            th:field="*{name}"
                                            placeholder="Name">
                                    <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="gender">Gender:</label>
                                    <select id="gender" name="gender" th:field="*{gender}" class="form-select">
                                        <option value="">-- Please select --</option>
                                        <option value="MALE">Male</option>
                                        <option value="FEMALE">Female</option>
                                    </select>
                                    <small class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></small>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="type">Type:</label>
                                    <select id="type" name="type" th:field="*{type}" class="form-select">
                                        <option value="">-- Please select --</option>
                                        <option value="CAT">Cat</option>
                                        <option value="DOG">Dog</option>
                                    </select>
                                    <small class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></small>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="age">Age:</label>
                                    <input type="number" id="age" name="age" class="form-control" th:field="*{age}"
                                            placeholder="Age">
                                    <small class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></small>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="bodySize">Body Size:</label>
                                    <select id="bodySize" name="bodySize" th:field="*{bodySize}" class="form-select">
                                        <option value="">-- Please select --</option>
                                        <option value="SMALL">Small</option>
                                        <option value="MEDIUM">Medium</option>
                                        <option value="LARGE">Large</option>
                                    </select>
                                    <small class="text-danger" th:if="${#fields.hasErrors('bodySize')}" th:errors="*{bodySize}"></small>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="rescueDate">Rescue Date:</label>
                                    <input type="date" class="form-control" id="rescueDate" name="rescueDate"
                                           th:field="*{rescueDate}" placeholder="Rescue Date">
                                    <small class="text-danger" th:if="${#fields.hasErrors('rescueDate')}" th:errors="*{rescueDate}"></small>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea
                                            id="description"
                                            name="description"
                                            class="form-control"
                                            th:field="*{description}"
                                            placeholder="Description">
                                    </textarea>
                                    <small class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
                                </div>
                                <br>

                                <div class="form-group">
                                  <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="isSterilized"
                                           name="isSterilized"
                                           th:field="*{isSterilized}">
                                    <label for="isSterilized">Sterilized</label>
                                  </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label>Photo: </label>
                                    <input type="file"
                                           class="form-control"
                                           name="image"
                                           accept="image/*"
                                           required
                                    />
                                </div>
                                <br>

                                <div class="form-group">
                                    <label>Vaccine Type:</label>
                                    <div th:each="vaccine : ${vaccine}">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   th:id="${'vaccine' + vaccine.id}"
                                                   th:name="vaccineIds"
                                                   th:value="${vaccine.id}">
                                            <label class="form-check-label"
                                                   th:for="${'vaccine' + vaccine.id}"
                                                   th:text="${vaccine.name}">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input"
                                                type="checkbox"
                                                id="active"
                                                name="active"
                                                th:field="*{active}">
                                        <label for="active">Active</label>
                                    </div>
                                </div>
                                <br>

                                <input type="hidden"
                                       name="applicationCounter"
                                       th:field="*{applicationCounter}">

                                <input type="hidden"
                                       name="applicationLimit"
                                       th:field="*{applicationLimit}">

                                <button type="submit" class="btn btn-primary">Edit Pet</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
<footer th:replace="fragments/footer:: footer"></footer>

</body>
</html>

