<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header('Pet Catalog')"></head>
<body onload="automate_animation();" class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">
  <nav th:replace="user/user-navigation :: navigation"></nav>
  <section th:replace="fragments/about :: about"></section>
  <!-- Call to action section-->
  <section th:replace="fragments/call-to-action :: call-to-action"></section>
</main>
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<script>

</script>
</body>
</html>



