<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header('Pet Catalog')"></head>
<body onload="automate_animation();" class="d-flex flex-column h-100 bg-light">
<main class="flex-shrink-0">
  <nav th:replace="user/user-navigation :: navigation"></nav>
  <section th:replace="fragments/about :: about"></section>
  <!-- Call to action section-->
  <section th:replace="fragments/call-to-action :: call-to-action"></section>
</main>
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>



